<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= message  %> 
    <h1>welcome head of department <%= employee.firstName %> </h1>
    <form action="/logout" method="post">
        <button type="submit">logout</button>
    </form>
    <h1>employees list - <a href="/register">add employee</a></h1>
    <ul>
        <% for(let e of employees){ %> 
            <%if(e.isAdmin == false && e.isHOD == false && e.department == employee.department){%>

                <li><%= e.firstName %> - <%= e.department %> - <a href="account/<%= e._id %> ">details</a></li>
            <% } %> 
        <% } %> 
    </ul>
</body>
</html>